@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply tracking-wide;
}
.container {
  @apply max-w-7xl h-full mx-auto px-4 sm:px-6 lg:px-8;
}

.btn {
  @apply shadow-2xl uppercase border bg-black px-4 py-2  text-gray-200 tracking-widest hover:text-white hover:border-teal-700 transition duration-300 ease-in-out;
}

.big-title {
  @apply font-extrabold text-7xl;
}

.input-field {
  @apply bg-gray-800 text-gray-200 rounded-xl border border-gray-600 px-4 py-2 w-full placeholder-gray-400 focus:outline-none focus:border-blue-500 transition-all ease-in-out;
}

.contact-btn {
  @apply shadow-2xl uppercase border bg-black px-4 py-2  text-gray-200 tracking-widest hover:text-white hover:border-teal-700 transition duration-300 ease-in-out;
}

.input-style {
  @apply bg-transparent border-b border-black block w-full  px-2 py-4;
}

.four-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8;
}

.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
}

.quote-btn {
  @apply bg-black text-white py-2 px-8 hover:border-2 hover:border-white  transition-all ease-in-out;
}

.btn-wrapper {
  @apply h-full flex flex-col space-y-2;
}

.form-control {
  @apply border-2 border-pink-500;
}
