@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-200;
}
.container {
  @apply max-w-7xl h-full mx-auto px-4 sm:px-6 lg:px-8;
}

.btn {
  @apply border text-gray-400 px-4 py-2  border-gray-600 rounded-xl hover:bg-blue-800 hover:border-transparent hover:text-white transition-all ease-in-out;
}

.big-title {
  @apply font-extrabold text-7xl text-gray-300;
}

.input-field {
  @apply bg-gray-800 text-gray-200 rounded-xl border border-gray-600 px-4 py-2 w-full placeholder-gray-400 focus:outline-none focus:border-blue-500 transition-all ease-in-out;
}

.contact-btn {
  @apply text-gray-400 uppercase border-b float-right pt-8 pb-2 tracking-widest hover:text-white hover:border-b-blue-600 transition duration-300 ease-in-out;
}

.input-style {
  @apply bg-transparent border-b block w-full  p-4;
}
